
.main-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 80vh; 
    padding: 20px; 
 
  }
  

  .content {
    max-width: 800px; 
    text-align: center; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .content h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333; 
  }
  
  .content p {
    font-size: 20px; 
    margin-bottom: 15px; 
    color: #666; 
  }
  
  .content a {
    color: #007bff; 
    text-decoration: none; 
  }
  
  .content a:hover {
    text-decoration: underline; 
  }
  